<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "citie", admin_root_path, class: 'is-size-3 has-text-weight-semibold has-text-dark' %>
    <%= link_to "social", admin_root_path, class: 'is-size-3 has-text-weight-light has-text-dark' %>

  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "廠商", admin_vendors_path, class: 'navbar-item' %>
      <%= link_to "商品", admin_products_path, class: 'navbar-item' %>
      <%= link_to "分類", admin_categories_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="fas fa-user"></i>&nbsp;<%= current_user.email %>
            </a>
            <div class="navbar-dropdown">
              <%= link_to "個人資料", edit_user_registration_path, class: 'navbar-item' %>
              <a class="navbar-item">訂單紀錄</a>
              <hr class="navbar-divider">
              <%= link_to "登出", destroy_user_session_path, method: :delete, class: 'navbar-item' %>
            </div>
          </div>
          <% else %>
          <%= link_to new_user_registration_path, class: "button" do %>
            <span class="icon">
	      <i class="fas fa-user-plus"></i>
	    </span>
	    <span>註冊</span>
          <% end %>
	  <%= link_to new_user_session_path, class: "button" do %>
	    <span class="icon">
	      <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>登入</span>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
</div>
