<% if current_cart.empty? %>
  <table class="table is-fullwidth">
    <tr><td>購物車現在空無一物</td><tr>
    <tr><td><%= link_to "繼續選購", root_path, class: 'button is-medium' %></td></tr>
  </table>
<% else %>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to cart_path, method: :delete, data: {confirm: '確定清空購物車？'} do %>
          <i class="far fa-trash-alt"></i> 清空購物車
        <% end %>
      </th>
      <th>品名</th>
      <th>款式</th>
      <th>數量</th>
      <th>單價</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% current_cart.items.each do |item| %>
    <tr>
      <td><i class="far fa-trash-alt"></i></td>
      <td><%= item.product.name %></td>
      <td>subtype?</td>
      <td><%= item.quantity %></td>
      <td><%= item.product.sell_price %></td>
      <td><%= item.total_price %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4"></td>
      <td>總計</td>
      <td><%= current_cart.total_price %></td>
    </tr>
  </tfoot>
</table>
<%= link_to "繼續選購", root_path, class: 'button is-medium' %> <%= link_to "結帳", checkout_cart_path, class: 'button is-medium is-danger' %>
<% end %>
